html,
body,
#map-id {
  height: 100%;
  padding: 0;
  margin: 0;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; /* Make sure the background image is behind other content */
}

/* Custom styles for the hotel table */
#hotelTable {
border-collapse: collapse;
width: 100%;
max-width: 600px;
margin: 20px auto;
border: 1px solid #ccc;
}

#hotelTable th, #hotelTable td {
border: 1px solid #ccc;
padding: 8px;
text-align: center;
}

#hotelTable th {
background-color: #f2f2f2;
}

/* Adjusting the city select element's width */
#citySelect {
width: 100%;
}


.custom-bg {
  background-color: #71baeb; /* Change this to the desired background color */
}

